{%- assign img_url = media | image_url -%}
{%- liquid
    assign ratio = 1
    if media.preview_image and section.settings.image_ratio == 'portrait'
      assign ratio = 0.8
    elsif media.preview_image and section.settings.image_ratio == 'adapt'
      assign ratio = media.preview_image.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
-%}
{% capture media_class %}product-featured-media{% endcapture %}
{%- liquid
  assign image_loading = 'lazy'
  assign image_fetchpriority = 'auto'
  assign image_class = 'img-fluid lazyload ' | append: media_class
  if priority
    assign image_loading = 'eager'
    assign image_fetchpriority = 'high'
    assign image_class = 'img-fluid ' | append: media_class
  endif
-%}
{% case media.media_type %}
{% when 'image' %}
<a href="{{ media.src | image_url }}" class="product-thumb zoom" data-image-id="{{ media.id }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
  {% capture zoom_media_id %}ImageZoom-{{ section.id }}-{{ media.id }}{% endcapture %}
  {% if section.settings.zoom_enable %}
  <figure onmousemove="zoom(event)" style="background-image: url({{ img_url }})">
  {% endif %}
    <img srcset="
      {%- if img_url.width >= 375 -%}{{ img_url | image_url: width: 375 }} 375w,{%- endif -%}
      {%- if img_url.width >= 550 -%}{{ img_url | image_url: width: 550 }} 550w,{%- endif -%}
      {%- if img_url.width >= 750 -%}{{ img_url | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if img_url.width >= 1100 -%}{{ img_url | image_url: width: 1100 }} 1100w,{%- endif -%}
      {%- if img_url.width >= 1500 -%}{{ img_url | image_url: width: 1500 }} 1500w,{%- endif -%}
      {%- if img_url.width >= 1780 -%}{{ img_url | image_url: width: 1780 }} 1780w,{%- endif -%}
      {%- if img_url.width >= 2000 -%}{{ img_url | image_url: width: 2000 }} 2000w,{%- endif -%}
      {%- if img_url.width >= 3000 -%}{{ img_url | image_url: width: 3000 }} 3000w,{%- endif -%}
      {{ img_url | image_url }} {{ img_url.width }}w
    "
    src="{{ img_url | image_url: width: 550 }}"
    data-src="{{ img_url | image_url: width: 550 }}"
    alt="{{ img_url.alt | escape }}"
    id="{{ media_id }}"
    class="{{ image_class }}"
    width="{{ img_url.width }}"
    height="{{ img_url.width | divided_by: img_url.aspect_ratio }}"
    decoding="async"
    fetchpriority="{{ image_fetchpriority }}"
    loading="{{ image_loading }}"
    sizes="(min-width: 1920px) {{ '1920' | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)">
  {% if section.settings.zoom_enable %}
  </figure>
  {% endif %}
</a>
{% when 'external_video' %}
<div class="product-thumb deferred-product-media ratio" data-deferred-product-media data-media-id="{{ media.id }}" style="--ratio-percent: 78%; --media-aspect-ratio: {{ media.preview_image.aspect_ratio | default: 1.777 }};">
  <button type="button" class="deferred-product-media__poster" data-deferred-product-media-button aria-label="Videoyu oynat">
    {{ media.preview_image | image_url: width: 1100 | image_tag: loading: image_loading, fetchpriority: image_fetchpriority, class: 'deferred-product-media__poster-image', alt: media.alt }}
    <span class="deferred-product-media__play" aria-hidden="true"><i class="fa fa-play"></i></span>
  </button>
  <div class="deferred-product-media__player" data-deferred-product-media-player></div>
  <template data-deferred-product-media-template>
    {{ media | external_video_tag: autoplay: true }}
  </template>
</div>
{% when 'video' %}
<div class="product-thumb deferred-product-media ratio" data-deferred-product-media data-media-id="{{ media.id }}" style="--ratio-percent: 78%; --media-aspect-ratio: {{ media.preview_image.aspect_ratio | default: 1.777 }};">
  <button type="button" class="deferred-product-media__poster" data-deferred-product-media-button aria-label="Videoyu oynat">
    {{ media.preview_image | image_url: width: 1100 | image_tag: loading: image_loading, fetchpriority: image_fetchpriority, class: 'deferred-product-media__poster-image', alt: media.alt }}
    <span class="deferred-product-media__play" aria-hidden="true"><i class="fa fa-play"></i></span>
  </button>
  <div class="deferred-product-media__player" data-deferred-product-media-player></div>
  <template data-deferred-product-media-template>
    {{ media | video_tag: class: 'media-video', controls: true, preload: 'none', playsinline: true }}
  </template>
</div>
{% when 'model' %}
<div class="product-thumb product-3d" data-image-id="{{ media.id }}">
  {{ media | media_tag: toggleable: true, data-model-id: media.id }}
</div>
<style>
  .product-3d {
    padding-top: 100%;
    position: relative;
  }
  .product-3d model-viewer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
</style>
{% endcase %}
