<ul class="social-icon">
  {% if settings.social_icon_1_name != blank %}
  <li><a href="{{ settings.social_icon_1_link }}" aria-label="{{ settings.social_icon_1_link }}">{{ settings.social_icon_1_name }}</a></li>        
  {% endif %}
  {% if settings.social_icon_2_name != blank %}
  <li><a href="{{ settings.social_icon_2_link }}" aria-label="{{ settings.social_icon_2_link }}">{{ settings.social_icon_2_name }}</a></li>        
  {% endif %}   
  {% if settings.social_icon_3_name != blank %}
  <li><a href="{{ settings.social_icon_3_link }}" aria-label="{{ settings.social_icon_3_link }}">{{ settings.social_icon_3_name }}</a></li>        
  {% endif %}
  {% if settings.social_icon_4_name != blank %}
  <li><a href="{{ settings.social_icon_4_link }}" aria-label="{{ settings.social_icon_4_link }}">{{ settings.social_icon_4_name }}</a></li>        
  {% endif %}
  {% if settings.social_icon_5_name != blank %}
  <li><a href="{{ settings.social_icon_5_link }}" aria-label="{{ settings.social_icon_5_link }}">{{ settings.social_icon_5_name }}</a></li>        
  {% endif %}
  {% if settings.social_icon_6_name != blank %}
  <li><a href="{{ settings.social_icon_6_link }}" aria-label="{{ settings.social_icon_6_link }}">{{ settings.social_icon_6_name }}</a></li>        
  {% endif %}
  {% if settings.social_icon_7_name != blank %}
  <li><a href="{{ settings.social_icon_7_link }}" aria-label="{{ settings.social_icon_7_link }}">{{ settings.social_icon_7_name }}</a></li> 
  {% endif %}
  {% if settings.social_icon_8_name != blank %}
  <li><a href="{{ settings.social_icon_8_link }}" aria-label="{{ settings.social_icon_8_link }}">{{ settings.social_icon_8_name }}</a></li>      
  {% endif %} 
</ul>