<!-- Share -->
<div class="share-icons">
  
  {% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}

  {% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}

  {% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}

  {% endif %}

  {% assign shareButtonStyle = section.settings.social_sharing_style %}
  
  <h6>{{ block.settings.social_share_title }}</h6>
  <ul class="pro_social_link">
    <li>
      <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" title="Share on Facebook" tabindex="0"><i class="ion-social-facebook"></i></a>
    </li>
    <li>
      <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }};source=webclient" title="Share on Twitter" tabindex="0"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"></path></svg></a>
    </li>
    {% if product.featured_image or article.image  %}
    <li>
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}" title="Share on Pinterest" tabindex="0"><i class="ion-social-pinterest"></i></a>
    </li>
    {% endif %}
  </ul>
</div>
