<section class="custom-text-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="custom-text {% if section.settings.text_align == 'left' %}text-start {% elsif section.settings.text_align == 'right' %} text-end {% else %} text-center{% endif %}">
          {% if section.settings.text_title != '' %}
          <h4 class="text-title">{{ section.settings.text_title }}</h4>
          {% endif %}
          <div class="text-block">
            {% for block in section.blocks %}
            {% if block.settings.text_block != '' %}
            <p class="text">{{ block.settings.text_block }}</p>
            {% endif %}
            {% endfor %}
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Custom Text",
  "settings": [
  {
    "type": "header",
    "content": "Section Padding"
  },
  {
    "type" : "paragraph",
    "content" : "Desktop / Laptop / tablet"
  },
  {
    "type": "range",
    "id": "our_ser_padding_top",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "our_ser_padding_bottom",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type" : "paragraph",
    "content" : "Ipad pro / Ipad"
  },
  {
    "type": "range",
    "id": "our_ser_padding_top_ip",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "our_ser_padding_bottom_ip",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type" : "paragraph",
    "content" : "Mobile"
  },
  {
    "type": "range",
    "id": "our_ser_padding_top_xs",
    "label": "Section Padding Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type": "range",
    "id": "our_ser_padding_bottom_xs",
    "label": "Section Padding bottom",
    "min": 0,
    "max": 100,
    "step": 1,
    "unit": "px",
    "default": 0
  },
  {
    "type" : "header",
    "content" : "Section Background Color"
  },
  {
    "type" : "color",
    "id" : "section_bg_color",
    "label" : "Background Color",
    "default" : "#ffffff"
  },
  {
    "type": "select",
    "id": "text_align",
    "label": "Text align",
    "options": [
      {
        "label": "left",
        "value": "left"
      },
      {
        "label": "right",
        "value": "right"
      },
      {
        "label": "center",
        "value": "center"
      }
    ],
    "default": "left"
  },
  {
    "type" : "header",
    "content" : "Text Title"
  },
  {
    "type": "text",
    "id": "text_title",
    "label": "Title",
    "default": "Enter your title here"
  }
  ],
  "blocks":[
  {
    "type": "text_block",
    "name": "Text Block",
    "settings": [
    {
      "type": "textarea",
      "id": "text_block",
      "label": "Text"
    }
    ]
  }
  ],
  "presets":[
  {
    "name": "Custom Text"
  }
  ]
}
{% endschema %}
<style>
  .custom-text-area {
    padding-top: {{ section.settings.our_ser_padding_top }}px;
    padding-bottom: {{ section.settings.our_ser_padding_bottom }}px;
    background-color: {{ section.settings.section_bg_color }};
  }
  @media (max-width: 1199px) {
    .custom-text-area {
      padding-top: {{ section.settings.our_ser_padding_top_ip }}px;
      padding-bottom: {{ section.settings.our_ser_padding_bottom_ip }}px;
    }
  }
  @media (max-width: 767px) {
    .custom-text-area {
      padding-top: {{ section.settings.our_ser_padding_top_xs }}px;
      padding-bottom: {{ section.settings.our_ser_padding_bottom_xs }}px;
    }
  }

  .custom-text-area .custom-text {
    
  }
  .custom-text-area .custom-text h4.text-title {
    font-size: 24px;
  }
  .custom-text-area .custom-text .text-block {
    margin-top: 16px;
  }
  .custom-text-area .custom-text .text-block p.text {
    margin-top: 16px;
  }
  .custom-text-area .custom-text .text-block p.text:first-child {
    margin-top: 0px;
  }
</style>