<section class="customer-page section-ptb">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="log-acc-page" id="CustomerLoginForm">
          <div class="acc-page">
            <div class="login">
              {% form 'reset_customer_password' %}
                {{ form.errors | default_errors }}
                <div class="login-form-container">
                  <div class="title-text">
                    <h2>{{ 'customer.reset_password.title' | t }}</h2>
                    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
                  </div>
                  <ul class="fill-form">
                    <li class="log-email">
                      
                      <input
                        type="password"
                        value=""
                        name="customer[password]"
                        id="ResetPassword"
                        class="input-full{% if form.errors contains 'password' %} error{% endif %}"
                        placeholder="{{ 'customer.reset_password.password' | t }}"
                        required
                      >
                    </li>
                    <li class="log-pwd">
                      
                      <input
                        type="password"
                        value=""
                        name="customer[password_confirmation]"
                        id="PasswordConfirmation"
                        class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}"
                        placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                        required
                      >
                    </li>
                    <li class="form-toggle-btn">
                      <div class="form-action-button">
                        <button type="submit" class="btn-style1">{{ 'customer.reset_password.submit' | t }}</button>
                      </div>
                    </li>
                  </ul>
                </div>
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
    .customer-page .log-acc-page{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
  }
  .customer-page .log-acc-page .acc-page{
    width: 50%;
  }
  .customer-page .log-acc-page .login-form-container {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
  }
  .customer-page .log-acc-page .login-form-container .title-text h2{
    font-size: 30px;
  }
  .customer-page .log-acc-page .login-form-container p{
    margin-top: 15px;
  }
  .customer-page .log-acc-page .login-form-container ul li{
    margin-top: 30px;
  }
  .customer-page .log-acc-page .login-form-container ul li label{
    margin-bottom: 5px;
  }
  .customer-page .log-acc-page .login-form-container input{
    padding: 10px 15px;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button{
    text-align: center;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button button{
    width: 100%;
  }
  .customer-page .log-acc-page .login-form-container .form-action-button a{
    color: var(--color-primary);
    font-weight: 600;
    margin-top: 30px;
  }
  .customer-page .log-acc-page .errors{
    padding: 8px 12px;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap{
    margin-left: 30px;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title{
    text-align: center;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title h6{
    font-size: 16px;
    font-weight: 600;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title .account-optional-action{
    margin-top: 30px;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title a{
    padding: 13px 25px;
    background-color: transparent;
    font-weight: 600;
    width: 100%;
    border-radius: 3px;
    position: relative;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title a:hover::after{
    visibility: visible;
    background-color: var(--color-primary);
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.term-con{
    display: flex;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.term-con sup{
    top: -4px;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p a{
    color: var(--color-primary);
    font-size: 12px;
    font-weight: 600;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.pri-pol{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.pri-pol a{
    margin-left: 5px;
  }
  .customer-page .log-acc-page .login-form-container .title-text input{
    color: var(--color-primary);
    margin-top: 30px;
    background: transparent;
    padding: 0;
    border: none;
    font-weight: 600;
  }
  @media (max-width : 1199px){
    .customer-page .log-acc-page{
      max-width: 70%;
    }
    .customer-page .log-acc-page .login-form-container .title-text h2{
      font-size: 24px;
    }
  }
  @media (max-width : 991px){
    .customer-page .log-acc-page{
      max-width: 100%;
    }
    .customer-page .log-acc-page .login-form-container .title-text h2{
      font-size: 20px;
    }
  }
  @media (max-width : 767px){
    .customer-page .log-acc-page .login-form-container .title-text h2{
      font-size: 18px;
    }
    .customer-page .log-acc-page .login-form-container p{
      margin-top: 10px;
    }
    .customer-page .log-acc-page .login-form-container ul li{
      margin-top: 15px;
    }
    .customer-page .log-acc-page .login-form-container ul li.form-toggle-btn{
      margin-top: 20px;
    }
    .customer-page .log-acc-page .acc-page{
      width: 100%;
    }
    .customer-page .log-acc-page .login-form-container{
      padding: 15px;
    }
    .customer-page .log-acc-page .acc-page .side-form-wrap{
      margin-left: 0;
      margin-top: 20px;
    }
    .customer-page .log-acc-page .login-form-container .form-action-button a,
    .customer-page .log-acc-page .acc-page .side-form-wrap .acc-title .account-optional-action,
    .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.term-con{
      margin-top: 15px;
    }
    .customer-page .log-acc-page .acc-page .side-form-wrap .term-privacy p.pri-pol{
      margin-top: 0;
    }
  }
</style>
