{%- if predictive_search.performed -%}
{% assign first_column_results_size = predictive_search.resources.queries.size
  | plus: predictive_search.resources.collections.size
  | plus: predictive_search.resources.pages.size
  | plus: predictive_search.resources.articles.size
%}
<div class="container">
  <div id="search-ajax-results" role="listbox">
    {%- if first_column_results_size > 0 or predictive_search.resources.products.size > 0 -%}
      <div id="search-ajax-block" class="search-ajax-block{% unless predictive_search.resources.products.size > 0 %} search-ajax-block-no-products{% endunless %}{% unless predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %} search-ajax-block-no-suggestions{% endunless %}">
        {%- endif -%}
        {%- if first_column_results_size > 0 -%}
          <div class="ajax-result-group">
        {%- endif -%}
        {%- if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 -%}
          <div class="suggestions-list list-block">
            <h6 class="list-title">
              {{- 'templates.search.suggestions' | t -}}:
            </h6>
            <ul class="results-list">
              {%- for query in predictive_search.resources.queries -%}
                <li id="search-ajax-option-query-{{ forloop.index }}" class="list-item">
                  <a href="{{ query.url }}" class="list-item">
                    {{ query.styled_text }}
                  </a>
                </li>
              {%- endfor -%}
              {%- for collection in predictive_search.resources.collections -%}
                <li id="search-ajax-option-collection-{{ forloop.index }}" class="list-item" role="option" aria-selected="false">
                  <a href="{{ collection.url }}" class="list-item">{{ collection.title }}</a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {%- if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 -%}
          <div class="pages-list list-block">
            <h6 class="list-title">
              {{- 'templates.search.pages' | t -}}:
            </h6>
            <ul class="results-list">
              {%- for page in predictive_search.resources.pages -%}
                <li id="search-ajax-option-page-desktop-{{ forloop.index }}" class="list-item">
                  <a href="{{ page.url }}" class="list-item">
                    {{ page.title }}
                  </a>
                </li>
              {%- endfor -%}
              {%- for article in predictive_search.resources.articles -%}
                <li id="search-ajax-option-article-desktop-{{ forloop.index }}" class="list-item" role="option" aria-selected="false">
                  <a href="{{ article.url }}" class="list-item">
                    {{ article.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {%- if first_column_results_size > 0 -%}
      </div>
    {%- endif -%}
    {%- if predictive_search.resources.products.size > 0
      or predictive_search.resources.articles.size > 0
      or predictive_search.resources.pages.size > 0
    -%}
      <div class="ajax-result-group">
        {%- if predictive_search.resources.products.size > 0 -%}
          <div class="product-list">
            <ul class="grid-wrap">
              {%- for product in predictive_search.resources.products -%}
                <li id="search-ajax-option-product-{{ forloop.index }}" class="grid-wrapper">
                  {%- assign color_label = 'Color,color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín,barva' | split: ',' -%}
                  <div class="single-product-wrap{% unless product.available %} stock-out{% endunless %}">
                    <div class="product-image{% unless product.available %} stock-out{% endunless %}" id="pro-img-{{ section.id }}-{{ product.id }}">
                      {%- liquid
                        
                        assign ratio = 1
                        if product.featured_media and settings.image_ratio == 'portrait'
                        assign ratio = 0.9
                        elsif product.featured_media and settings.image_ratio == 'adapt'
                        assign ratio = product.featured_media.aspect_ratio
                        endif
                        if ratio == 0 or ratio == null
                        assign ratio = 1
                        endif
                      -%}
                      <a class="pro-img ratio" href="{{ product.url | within: collection }}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
                        {%- if product.featured_media -%}
        <div class="{%- if product.media[1] != blank -%} img1{%- endif -%}">
          {% assign image_height = product.featured_media.width | divided_by: product.featured_media.aspect_ratio %}
          {{
            product.featured_media
            | image_url: width: 720
            | image_tag: width: product.featured_media.width, height: image_height, class: 'lazyload', loading: 'lazy'
          }}
        </div>
        {%- if settings.enable_hover_product and product.media[1] != blank -%}
          <div class="img2">
            {% assign image_height = product.media[1].width | divided_by: product.media[1].aspect_ratio %}
            {{
              product.media[1]
              | image_url: width: 720
              | image_tag: width: product.media[1].width, height: image_height, class: 'lazyload', loading: 'lazy'
            }}
          </div>
        {%- endif -%}
      {%- else -%}
        {%- capture placeholder -%}product-apparel-{% cycle 1, 2, 3 %}{%- endcapture -%}
        {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
                      </a>
                                            <div class="product-label">
                         {% if settings.sale_percent_enable
        and product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price
        and product.available == true
      %}
          <span class="percent-count sale-title">
            {{-
              product.selected_or_first_available_variant.compare_at_price
              | minus: product.selected_or_first_available_variant.price
              | times: 100.0
              | divided_by: product.selected_or_first_available_variant.compare_at_price
              | round
              | append: '%'
            -}}
          </span>
      {% endif %}
                    </div>
                    <div class="product-content">
                      <a href="{{ product.url | within: collection }}" title="{{ product.title }}">{{ product.title }}</a>
                      <div class="price-box" id="price-{{ product.id }}">
                        <span class="new-price" id="ProductPrice">{{ product.selected_or_first_available_variant.price | money }}</span>
                        {%- if product.compare_at_price_max > product.price -%}
                        <span span class="old-price" id="ComparePrice">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
                        {%- endif -%}
                      </div>
                    </div>
                  </div>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if first_column_results_size > 0 or predictive_search.resources.products.size > 0 -%}
      </div>
    {%- endif -%}
  </div>
</div>
<span class="results-found" data-search-ajax-live-region-count-value>
  {% liquid
    assign total_results = predictive_search.resources.products.size | plus: first_column_results_size
    if total_results == 0
      echo 'templates.search.no_results' | t: terms: predictive_search.terms
    else
      echo 'templates.search.results_with_count' | t: count: total_results | append: ': '
      if predictive_search.resources.queries.size > 0
        assign count = predictive_search.resources.queries.size | plus: predictive_search.resources.collections.size
        echo 'templates.search.results_suggestions_with_count' | t: count: count | append: ', '
      endif
      if predictive_search.resources.pages.size > 0
        assign count = predictive_search.resources.pages.size | plus: predictive_search.resources.articles.size
        echo 'templates.search.results_pages_with_count' | t: count: count | append: ', '
      endif
      if predictive_search.resources.products.size > 0
        echo 'templates.search.results_products_with_count' | t: count: predictive_search.resources.products.size
      endif
    endif
  %}
</span>
{%- endif -%}
<style type="text/css">
.search-ajax {
  outline: 0;
}
.ajax-result-group {
  margin-top: 30px;
}
.ajax-result-group .list-block {
  display: flex;
}
.ajax-result-group .list-block.pages-list {
  margin-top: 10px;
}
.ajax-result-group .list-block h6.list-title {
  font-size: 16px;
  padding-inline-end: 15px;
}
.ajax-result-group .list-block ul.results-list {
  margin: -5px 0 0 -10px;
}
.ajax-result-group .list-block ul.results-list li.list-item {
  display: inline-block;
  margin: 8px 0 0 10px;
}
.ajax-result-group .list-block ul.results-list li.list-item a mark {
  color: var(--font-color-header);
  padding: 0;
  background-color: transparent;
  font-weight: 800;
}
.ajax-result-group .product-list {
  padding-top: 30px;
}
.ajax-result-group .product-list ul.grid-wrap {
  display: flex;
  overflow: hidden;
  margin: -30px -30px 0 -30px;
  padding: 0 30px 30px 0;
}
.ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
  width: calc(20% - 30px);
  min-width: calc(20% - 30px);
  margin: 30px 0 0 30px;
}
.search-ajax .results-found {
  display: none;
}
.search-ajax:has(#search-ajax-results:empty) .results-found {
  color: var(--font-color-header);
  display: block;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
}
.search-form:has(.field input[aria-expanded=false]) .search-ajax .results-found {
  display: none!important;
}
@media(max-width: 1199px){
  .ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
    width: calc(25% - 30px);
    min-width: calc(25% - 30px);
  }
}
@media(max-width: 991px){
  .ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
    width: calc(33.33% - 30px);
    min-width: calc(33.33% - 30px);
  }
}
@media(max-width: 767px){
  .ajax-result-group .product-list ul.grid-wrap {
    margin: -30px -12px 0 -12px;
    padding: 0 12px 12px 0;
    overflow: visible;
    flex-wrap: wrap;
  }
  .ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
    width: calc(33.33% - 12px);
    min-width: calc(33.33% - 12px);
    margin: 30px 0 0 12px;
  }
}
@media(max-width: 479px){
  .ajax-result-group .product-list {
    padding: 0;
  }
  .ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
    width: calc(50% - 12px);
    min-width: calc(50% - 12px);
  }
}
@media(max-width: 320px){
  .ajax-result-group .product-list ul.grid-wrap li.grid-wrapper {
    width: calc(100% - 12px);
    min-width: calc(100% - 12px);
  }
}
</style>
